@page
@model IdentityApp.Pages.Invoices.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2 class="mt-5">
    Delete
    <small class="text-muted">invocie</small>
</h2>

<hr/ class="mb-5">

<div mt-3>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceMonth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceMonth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceOwner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceOwner)
        </dd>
    </dl>
    
    <form method="post" class="mt-5">
        <input type="hidden" asp-for="Invoice.InvoiceId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
