@page
@model IdentityApp.Pages.Invoices.IndexModel

@{
    ViewData["Title"] = "Database";
}


<p class="lead mt-4 mb-4" style="font-weight: bold">
    <span>Manage your bills here</span>
    <a style="float: right; background-color: rgb(27, 91, 56);" class="btn btn-primary create-button" asp-page="Create">Create new</a>
</p>

<table class="table" style="text-align: left">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].InvoiceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].InvoiceMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].InvoiceOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Status)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_InvoiceTableRows", Model.PaginatedInvoiceList)
    </tbody>
</table>

<nav aria-label="Invoice pagination">
    <ul class="pagination justify-content-center">
        @if (Model.PageIndex > 1)
        {
            <li class="page-item">
                <a class="page-link shadow-none" href="?pageIndex=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link shadow-none" href="?pageIndex=@(Model.PageIndex - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                <a class="page-link shadow-none" href="?pageIndex=@i">@i</a>
            </li>
        }

        @if (Model.PageIndex < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link shadow-none" href="?pageIndex=@(Model.PageIndex + 1)">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link shadow-none" href="?pageIndex=@Model.TotalPages">Last</a>
            </li>
        }
    </ul>
</nav>

<style>

    .pagination {
        margin-top: 40px;
    }

        .pagination .page-item {
            display: inline-block;
            margin: 0px;
        }

        .pagination .active .page-link {
            background-color: rgb(27, 91, 56);
            border-color: rgb(27, 91, 56);
        }
    }
</style>
